#page5 #up {
   padding: 20px;
   margin:30px 
}
#page5 #up span{
    color:orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
#page5 #up #line1{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
#page5 #up #para{
    display: flex;
    align-items: center;
    justify-content: justify;
    align-items: center;
    padding-bottom: 10px;
    margin: 10px 50px;
}
#page5 #down #box1 #img{
    height: 150px;
    width: 100%;
    background-image: url("./../images/practice15\ img1.jpg");
    background-size: cover;
    background-position: center;
}
#page5 #down #box2 #img{
    height: 150px;
    width: 100%;
    background-image: url("./../images/practice15img2.avif");
    background-size: cover;
    background-position: center;
}
#page5 #down #box3 #img{
    height: 150px;
    width: 100%;
    background-image: url("./../images/practice15img3.jpg");
    background-size: cover;
    background-position: center;  
}
#page5 #down #boxes {
    display: flex;
    align-items: start;
    justify-content: center;
    justify-content: space-between;
    margin:0px 50px;
}
#page5 #down #boxes span{
    color: #bdafaf;
}
#page5 #down #boxes #head{
    font-size: 18px;
    font-weight: 700;
}
#page5 #down #boxes #para{
    display: flex;
    align-items: center;
    justify-content: center;
}
#page5 #down #boxes #btn a{
    text-decoration: none;
    color: orange;
    display: flex;
}
#page5 #down #boxes #btn  :hover{
    background-color: rgb(218, 104, 123);
}
#page5 #down #boxes #btn svg{
height: 25px;
fill: orange;
margin-left: 10px;
}
#page5 #down #boxes #btn{
    display: flex;
}
#page5 #down #boxes #para{
    padding:10px 15px;
}
#page5 #down #boxes .commonbox{
    width: 30%;
}