#comp10{
    padding: 0px;
    margin: 0px;
}
#comp10 #box{
    display: flex;
}
#comp10 #box #right{
    background-image: url("./../images/Rectangle\ 32.png");
    background-position: center;
    background-size: cover;
    height: 334px;
    width: 1300px;
}
#comp10 #box #left{
    background-color: #102C43;
    padding-top: 170px;
    width: 200px;
}
#comp10 #box #left p{
    color: #ffff;
    -webkit-transform: rotate(270deg);
    font-size: 54px;
    font-weight: 800;
  
}