* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}

#comp1 #head {
    height: 81px;
    /* width: 1450px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#comp1 #head #left {
    background-image: url("./images/Logo (1).png");
    height: 58px;
    width: 191px;
    align-items: center;
    margin-left: 20px;
    background-size: cover;
    background-position: center;
}

#comp1 #head #right svg {
    height: 35px;
    width: 35px;
    fill: #01B3A7;
    display: flex;
    padding-right: 5px;
}

#comp1 #head #right {
    display: flex;
    align-items: center;
    height: 81px;
    /* width: 642px; */
    padding: 20px;
    font-size: 18px;
}

#comp1 #head #right #line1 {
    border-right: 1px solid #BEBEBE;
    margin: 6px;
    width: 8px;
    height: 35px;
}

#comp1 #line1 {
    height: 69px;
    background-color: #102C43;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#comp1 #line1 #menubar {
    display: flex;
    font-size: 20px;

}

#comp1 #line1 #menubar .commonbox {
    /* padding: 10px; */
    margin: 30px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

}

#comp1 #line1 #menubar a {
    text-decoration: none;
    color: #ffff
}

#comp1 #line1 #menubar a:hover {
    background-color: #01B3A7;
    text-transform: capitalize;
    height: 69px;
}

#comp1 #line1 #btn {
    margin-right: 20px;
    border: 2px solid #01B3A7;
    height: 51px;
    width: 175px;
    border-radius: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 5px; */
}

#comp1 #foot #background {
    height: 450px;
    background-image: url("./images/Rectangle 3.png");
    background-size: cover;
    background-position: center;
}

#comp1 #foot #background #leftside {
    font-size: 24px;
    color: #ffff;
    align-items: center;
    justify-content: center;
    /* text-align: justify; */
    padding: 90px 50px;
}

#comp1 #foot #background #leftside span {
    font-size: 74px;
    font-weight: 700;

}

#comp1 #foot #background #leftside #button {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 5px solid #ffff;
    height: 40px;
    width: 200px;
    margin-top: 20px;
}

#comp1 #pictures {
    background-color: #F3F3F3;
    /* height: 696px; */
}

#comp1 #pictures #up {
    display: flex;
}

#comp1 #pictures .common {
    height: 600px;
    width: 400px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -60px;
    background-size: cover;
    background-position: center;
}

#comp1 #pictures #pic1 {
    background-image: url("./images/Rectangle 8.png");

}

#comp1 #pictures #pic2 {

    background-image: url("./images/Rectangle 10.png");

}

#comp1 #pictures #pic3 {
    background-image: url("./images/Rectangle 9 (1).png");
}

#comp1 #pictures #des {
    font-size: 34px;
    font-weight: 800;
    color: #ffff;
    padding-top: 550px;
}

#comp1 #pictures #down {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
}

#comp1 #pictures #down #option {
    display: flex;
}

#comp1 #option svg {
    display: flex;
    height: 38px;
    width: 14px;
    padding-left: 5px;
}

@media only screen and (max-width:995px) {
    #comp1 #line1 {
        justify-content: center;
        /* text-align: unset; */
        flex-direction: column;
        height: 150px;

    }

    #comp1 #line1 #btn {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:670px) {
    #comp1 #line1 {
        padding: 10px;
        height: 150px;
    }

    #comp1 #line1 .commonbox {
        /* padding: 10px 10px; */
        margin: 3px;
    }
}

@media only screen and (max-width:650px) {
    #comp1 #line1 .commonbox {
        /* padding:10px 30px 10px 40px; */
        font-size:20px;
    }
}

@media only screen and (max-width:560px) {
    #comp1 #line1 .commonbox {
        font-size: 15px;
        margin: 25px;
    }
}

@media only screen and (max-width:500px) {
    #comp1 #line1 .commonbox {
        font-size: 14px;
        margin: 20px;
    }
}

@media only screen and (max-width:455px) {
    #comp1 #line1 .commonbox {
        font-size: 10px;
        margin: 15px;
    }
}

@media only screen and (max-width:415px) {
    #comp1 #line1 .commonbox {
        font-size: 10px;
        margin: 10px;

    }

    #comp1 #line1 #btn {
        height: 30px;
    }
}

@media only screen and (max-width:400px) {
    #comp1 #line1 .commonbox {
        font-size: 8px;
        margin: 8px;
    }

}
@media only screen and (max-width:395px) {
    #comp1 #line1 .commonbox {
        font-size: 8px;
        margin: 5px;
    }

}
@media only screen and (max-width:370px) {
    #comp1 #line1 .commonbox {
        font-size: 6px;
        margin: 3px;
    }

}
@media only screen and (max-width:370px) {
    #comp1 #line1 .commonbox {
        font-size: 5px;
        margin: 1px;
    }

}
@media only screen and (max-width:815px) {
    #comp1 #foot #background #leftside span {
        font-size: 55px;
    }
}

@media only screen and (max-width:635px) {
    #comp1 #foot #background #leftside span {
        font-size: 30px;
    }
}

@media only screen and (max-width:395px) {
    #comp1 #foot #background #leftside #button {
        height: 30px;
        font-size: 15px;
    }
}

@media only screen and (max-width:630px) {
    #comp1 #foot #background #leftside span {
        width: fit-content;
    }

    #comp1 #foot #background {
        height: 500px;
    }
}

@media only screen and (max-width:915px) {
    #comp1 #pictures #up {
        flex-direction: column;
    }
}

@media only screen and (max-width:915px) {
    #comp1 #up {
        height: max-content;
        align-items: center;
    }

    #comp1 #up #des {
        padding: 500px 0px;
        justify-content: center;
        /* text-align: center; */
        width: 400px;
    }
}

@media only screen and (max-width:800px) {
    #comp1 #head {
        flex-direction: column;
        height: 150px;
        justify-content: center;
        padding-top: 10px;
    }

    #comp1 #head #left #logo {
        height: 51px;
    }
}